[Unit]
Description=Main Executable for running Polar One
BindsTo=dev-tinythinker.device
Wants=network-online.target docker.service
After=network-online.target docker.service multi-user.target dev-tinythinker.device
StartLimitBurst=5

[Service]
User=aaron
WorkingDirectory=/home/aaron/Documents/Docker-Workspaces/PolarOne-Workspace
ExecStart=/home/aaron/Documents/Docker-Workspaces/PolarOne-Workspace/run.sh
Restart=always
RestartSec=5s
Type=idle

[Install]
WantedBy=multi-user.target dev-tinythinker.device